{% for comment in comments %}
<div class="panel panel-default">
  <div class="panel-body">
      <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      {% if comment.disabled %}
        <p><i>This comment has been disabled by a moderator.</i></p>
      {% endif %}
      {% if moderate or not comment.disabled %}
        {% if comment.body_html %}
            {{ comment.body_html | safe }}
        {% else %}
            {{ comment.body }}
        {% endif %}
      {% endif %}
  </div>
  <div class="panel-footer">
      <div class="comment-date">{{ moment(comment.timestamp).fromNow() }}</div>
      <div class="comment-author">Autor: <a href="{{ url_for('.user', username=comment.author.username) }}">{{ comment.author.username }}</a></div>
      {% if moderate %}
        {% if comment.disabled %}
            <a class="btn btn-default btn-xs pull-right" href="{{ url_for('.moderate_enable', id=comment.id, page=page) }}">Enable</a>
        {% else %}
            <a class="btn btn-danger btn-xs pull-right" href="{{ url_for('.moderate_disable', id=comment.id, page=page) }}">Disable</a>
        {% endif %}
      {% endif %}
  </div>
</div>
{% endfor %}