{% for post in posts %}
    <!-- Blog Post -->
    <h2>
        <a href="{{ url_for('.post', id=post.id) }}">Blog Post Title</a>
    </h2>
    <p class="lead">
        by <a href="{{ url_for('.user', username=post.author.username) }}">{{ post.author.username }}</a>
    </p>
    <p><span class="glyphicon glyphicon-time"></span> Posted on {{ moment(post.timestamp).fromNow() }}</p>
    <p><span class="glyphicon glyphicon-calendar"></span> Posted on {{ moment(post.timestamp).format('LLL') }}</p>
    <hr>
        <img class="img-responsive" src="http://placehold.it/900x300" alt="">
    <hr>
        <p>{% if post.body_html %}
                {{ post.body_html | safe }}
            {% else %}
                {{ post.body }}
            {% endif %}
        </p>
        <a class="btn btn-primary" href="{{ url_for('.post', id=post.id) }}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
        {% if current_user == post.author %}
        <a class="btn btn-primary" href="{{ url_for('.edit', id=post.id) }}">Edit <span class="glyphicon glyphicon-edit"></span></a>
        {% elif current_user.is_administrator %}
        <a class="btn btn-danger" href="{{ url_for('.edit', id=post.id) }}">Edit [Admin] <span class="glyphicon glyphicon-edit"></span></a>
        {% endif %}
        <a class="btn btn-primary" href="{{ url_for('.post', id=post.id) }}#comments">{{ post.comments.count() }} Comments</a>
</a>
    <hr>
{% endfor %}