{% for post in posts %}
    <!-- Blog Post -->
    <h2>
        <a href="#">Blog Post Title</a>
    </h2>
    <p class="lead">
        by <a href="{{ url_for('.user', username=post.author.username) }}">{{ post.author.username }}</a>
    </p>
    <p><span class="glyphicon glyphicon-time"></span> Posted on {{ moment(post.timestamp).fromNow() }}</p>
    <p><span class="glyphicon glyphicon-calendar"></span> Posted on {{ moment(post.timestamp).format('LLL') }}</p>
    <hr>
        <img class="img-responsive" src="http://placehold.it/900x300" alt="">
    <hr>
        <p>{{ post.body }}</p>
        <a class="btn btn-primary" href="#">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>

    <hr>
{% endfor %}